# SPDX-FileCopyrightText: 2023-2024 Helmholtz-Zentrum hereon GmbH
# SPDX-License-Identifier: CC0-1.0
# SPDX-FileContributor: Carsten Lemmen <carsten.lemmen@hereon.de>

Lemmen2024_Sommer_ecologicalmodelling.tex
Lemmen2024_Sommer_ecologicalmodelling.aux
Lemmen2024_Sommer_ecologicalmodelling.docx
Lemmen2024_Sommer_ecologicalmodelling.pdf
Lemmen2024_Sommer_ecologicalmodelling.odt
Lemmen2024_Sommer_ecologicalmodelling.txt
Lemmen2024_Sommer_ecologicalmodelling.blg
Lemmen2024_Sommer_ecologicalmodelling.log
Lemmen2024_Sommer_ecologicalmodelling.out
Lemmen2024_Sommer_ecologicalmodelling.spl
Lemmen2024_Sommer_ecologicalmodelling.html
Lemmen2024_Sommer_arxiv.zip
Lemmen2024_Sommer_ecologicalmodelling-diff.*
Lemmen2024_Sommer_ecologicalmodelling-pointreply.pdf

node_modules
Figure_1.pdf
coverletter.pdf
gmp_triangle.pdf
declaration_of_interest.docx
Figure_2.pdf
.DS_Store
