# SPDX-FileCopyrightText: 2024 Helmholtz-Zentrum hereon GmbH
# SPDX-License-Identifier: CC0-1.0
# SPDX-FileContributor: Carsten Lemmen <carsten.lemmen@hereon.de>

X03043800.jpg
elsevier-non-solus-new-with-wordmark.pdf
elsevier-non-solus-new-with-wordmark.svg
